<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #navigationDrawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="dashboard"
        routerLinkActive
        #routerLinkActiveInstance0="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance0.isActive"
      >
        <div class="d-inline-flex">
          <mat-icon aria-hidden="false" aria-label="Dashboard statistics"
            >dashboard</mat-icon
          >
          <span>Dashboard</span>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a
        mat-list-item
        routerLink="expenses"
        routerLinkActive
        #routerLinkActiveInstance2="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance2.isActive"
      >
        <div class="d-inline-flex">
          <mat-icon aria-hidden="false" aria-label="Expenses nav list item icon"
            >paid</mat-icon
          >
          <span>Expenses</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="categories"
        routerLinkActive
        #routerLinkActiveInstance3="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance3.isActive"
      >
        <div class="d-inline-flex">
          <mat-icon
            aria-hidden="false"
            aria-label="Categories nav list item icon"
            >category</mat-icon
          >
          <span>Categories</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="navigationDrawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Expense Tracker</span>
    </mat-toolbar>
    <div class="grid-container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

  <mat-sidenav
    #formsDrawer
    class="sidenav-end"
    position="end"
    [opened]="(componentData$ | async).opened"
    [mode]="'side'"
  >
    <div *ngIf="componentData$ | async as cmpData">
      <ng-container
        *ngComponentOutlet="cmpData.component; inputs: cmpData.inputs"
      ></ng-container>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
