<app-page-header
  [page]="'Expenses'"
  [showNewButton]="true"
  (onNewClicked)="openExpenseDrawer()"
>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="expensesPageInfo().itemCount"
    [pageSize]="expensesPageInfo().take"
    [pageSizeOptions]="[5, 10, 15]"
    [showFirstLastButtons]="true"
    aria-label="Select page"
  >
  </mat-paginator>
</app-page-header>

<div class="expand-collapse-actions">
  <button mat-raised-button (click)="openAll()">Expand All</button>
  <button mat-raised-button (click)="collapseAll()">Collapse All</button>
</div>

<mat-accordion class="expenses" displayMode="flat" multi>
  @for(expense of expenses | async; track expense.id) {
  <app-expense-list-item #accordion [expense]="expense"></app-expense-list-item>
  } @empty {
  <p>
    You don't have any expenses logged yet. Click
    <button mat-button color="primary" (click)="openExpenseDrawer()">
      here
    </button>
    to create one.
  </p>
  }
</mat-accordion>
