<app-page-header
  [page]="'Expenses'"
  [showNewButton]="true"
  (onNewClicked)="openExpenseDrawer()"
>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="expensesPageInfo().itemCount"
    [pageSize]="expensesPageInfo().take"
    [pageSizeOptions]="[5, 10, 15]"
    [showFirstLastButtons]="true"
    aria-label="Select page"
  >
  </mat-paginator>
</app-page-header>

<div class="expenses">
  @for(expense of expenses(); track expense.id) {
  <app-expense-list-item [expense]="expense"></app-expense-list-item>
  } @empty {
  <p>
    You don't have any expenses logged yet. Click
    <button mat-button color="primary" (click)="openExpenseDrawer()">
      here
    </button>
    to create one.
  </p>
  }
</div>
