<h1>Create Expense</h1>

<form *ngIf="form" [formGroup]="form">
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Amount</mat-label>
    <input
      matInput
      placeholder="Ex. 12"
      type="number"
      [errorStateMatcher]="matcher"
      [formControl]="form.get('amount')"
    />
    <mat-error>
      <app-form-field-error-message
        [control]="form.controls['amount']"
        [controlErrors]="form.controls['amount'].errors"
        [isErrorState]="matcher.isErrorState(form.controls['amount'], form)"
      ></app-form-field-error-message>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Category</mat-label>

    <mat-select name="cateogory" [formControl]="form.get('categoryId')">
      @for(category of categories(); track category.id) {
      <mat-option [value]="category.id">{{ category.name }}</mat-option>
      }
    </mat-select>

    <mat-error>
      <app-form-field-error-message
        [control]="form.controls['categoryId']"
        [controlErrors]="form.controls['categoryId'].errors"
        [isErrorState]="matcher.isErrorState(form.controls['categoryId'], form)"
      ></app-form-field-error-message>
    </mat-error>
  </mat-form-field>

  <mat-form-field
    color="accent"
    appearance="outline"
    style="margin-bottom: 1rem"
  >
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="datepicker"
      [formControl]="form.get('date')"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>
          Apply
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>

    <mat-error>
      <app-form-field-error-message
        [control]="form.controls['date']"
        [controlErrors]="form.controls['date'].errors"
        [isErrorState]="matcher.isErrorState(form.controls['date'], form)"
      ></app-form-field-error-message>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Ex. Got some Starbucks"
      [errorStateMatcher]="matcher"
      [formControl]="form.get('description')"
      [resize]="false"
      rows="5"
    ></textarea>
    <mat-error>
      <app-form-field-error-message
        [control]="form.controls['description']"
        [controlErrors]="form.controls['description'].errors"
        [isErrorState]="
          matcher.isErrorState(form.controls['description'], form)
        "
      ></app-form-field-error-message>
    </mat-error>
  </mat-form-field>
</form>

<div class="buttons-container">
  <button mat-flat-button close-on-click color="accent">Cancel</button>
  <button mat-flat-button color="primary" (click)="confirm()">Save</button>
</div>
