<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ expense.category?.name }}</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-panel-description>
    Date: {{ expense.date | date : "short" }}
  </mat-panel-description>
  <mat-panel-description *ngIf="expense.description.length">
    Description: {{ expense.description }}
  </mat-panel-description>

  <mat-action-row>
    <button mat-button (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-button (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
      Delete
    </button>
  </mat-action-row>
</mat-expansion-panel>
